
.container
{
  max-width: 1500px;
}

/*Header*/
header
{
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

#videoBack
{
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(54, 69, 79, 0.8);
}

header video
{
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container
{
  position: relative;
  z-index: 2;
}

#title
{
  color: white;
  font-size: 75px;
  transform: translateY(50%);
}

.btn
{
  border-radius: 10px;
  color: white;
  font-weight: bold;
  padding-left: 15px;
  padding-right: 15px;
}

#About
{
  transform: translateY(185%);
  color: white;
  font-weight: bold;
  font-size: 18px;
}

/*Main*/
main
{
  position: relative;
  background-color: black;
  min-width: 100%;
  width: 100%;
  overflow: hidden;
}
main .row
{
  min-width: 100%;
  color: white;
  font-size: 18px;
}

code
{
  background-color: black;
  padding: 5px;
  border-radius: 5px;
}
/*Row Me*/
#row-Me
{
  position: relative;
  background-color: #0d405d;
  padding: 25px;
}
#Me-Text
{
  transform: translateY(8%);
}

.col h1
{
  font-weight: bold;
}

#row-Me .col img
{
  border-radius: 100px;
}

/*Row Systems*/
#row-Systems
{
  position: relative;
  padding: 25px;
  background-color: #36454F;
}

#row-Systems .container .row .col
{
  padding-top: 75px;
}

/*Row Shader-System*/
#row-Shader-System
{
  position:relative;
  padding: 25px;
  background-color: #0d405d;
}

/*Row video*/
#row-Video
{
  position:relative;
  padding: 25px;
  background-color: #36454F;
}

/*Licence*/
#row-Licence
{
  position:relative;
  padding: 25px;
  background-color: #0d405d;
}

.btn-linkedin {
	  background: #0E76A8;
	  border-radius: 0;
	  color: #fff;
	  border-width: 1px;
	  border-style: solid;
	  border-color: #084461;
    border-radius: 10px;
	}
	.btn-linkedin:link, .btn-linkedin:visited {
	  color: #fff;
	}
	.btn-linkedin:active, .btn-linkedin:hover {
	  background: #084461;
	  color: #fff;
    cursor:pointer;
	}
  a:hover
  {
    text-decoration: none;
  }
